<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0">Usuario</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#" style="font-style:oblique;font-weight: bold; font-size: small;">Home</a></li>
            <li class="breadcrumb-item active" style="font-style:oblique;font-weight: bold; font-size: small;">Usuario</li>
            </ol>
        </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
    <!-- /.content-header -->
<section class="content">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="container-fluid">
<!-- contenido -->
                <hr>
                <input type="button" style="font-style: oblique;font-weight: bold; font-size: small;" value="Insertar Usuario." class="btn btn-warning" (click)="mostrar_form('ver')">
                <hr>
<!-- Formulario -->
                <div id="formulario" *ngIf="mform==true">
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="obj_usuario.nombre_usuario">
                            <span style="color: red;" *ngIf="validar_nombre_usuario == false">Insertar Nombre.</span>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Numero Identificacion" [(ngModel)]="obj_usuario.numero_identificacion">
                            <span style="color: red;" *ngIf="validar_numero_identificacion == false">Insertar Numero Identificacion.</span>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Correo" [(ngModel)]="obj_usuario.correo">
                            <span style="color: red;" *ngIf="validar_correo == false">Insertar Correo.</span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Contacto" [(ngModel)]="obj_usuario.contacto">
                            <span style="color: red;" *ngIf="validar_contacto == false">Insertar Contacto.</span>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Direccion" [(ngModel)]="obj_usuario.direccion">
                            <span style="color: red;" *ngIf="validar_direccion == false">Insertar Direccion.</span>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Clave" [(ngModel)]="obj_usuario.clave">
                            <span style="color: red;" *ngIf="validar_clave == false">Insertar Clave.</span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-4">
                            <select class="form-control form-select"[(ngModel)]="obj_usuario.fo_tipo_usuario">
                                <option value="0" label="Seleccione Tipo Usuario" selected= "selected">Seleccione Usuario.</option>
                                <option *ngFor="let item_t_usuario of tipo_usuario" value="{{item_t_usuario.id_tipo_usuario}}">{{item_t_usuario.tipo_usuario }}</option>
                                <span style="color: red;" *ngIf="validar_tipo_usuario== false">Seleccionar Tipo Usuario.</span>
                            </select>
                        </div>
                        <div class="col-lg-4">
<!-- Botones Formulario -->
    <!-- Guardar --->
                            <input type="button" value="Guardar" class="btn btn-primary" style="width: 100%;" (click)="validar('guardar')" *ngIf="botones_form == false">
    <!-- Editar ---->                        
                            <input type="button" value="Editar" class="btn btn-primary" style="width: 100%;" (click)="validar('editar')" *ngIf="botones_form == true">
                        </div>
                        <div class="col-lg-4">
    <!-- Cancelar -->
                            <input type="button" value="Cancelar" class="btn btn-secondary" style="width: 100%;" (click)="mostrar_form('no ver')">
                        </div>
                    </div>
                </div>
                <hr>
<!-- Tabla -->
                <div id="tabla">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th>Nombre</th>
                                        <th>N.Identificacion</th>
                                        <th>Correo</th>
                                        <th>N.Contacto</th>
                                        <th>Direccion</th>
                                        <th>Contraseña</th>
                                        <th>T.Usuario</th>
                                        <th>Acciones</th>
                                    </tr>
                                    <tr *ngFor="let item of usuario">
                                        <td>{{item.nombre_usuario}}</td>
                                        <td>{{item.numero_identificacion}}</td>
                                        <td>{{item.correo}}</td>
                                        <td>{{item.contacto}}</td>
                                        <td>{{item.direccion}}</td>
                                        <td>{{item.clave}}</td>
                                        <td>{{item.usuario}}</td>
                                        <td>
<!-- Botones Tabla  ------------------->
    <!-- Editar -------------------->
                                            <span class="fas fa-edit" style="color: blue ; cursor: pointer;" title="Editar" (click)="cargar_datos(item, item.id_usuario)"></span>
    <!-- Eliminar ------------------>
                                            <span class="fas fa-minus-square" style="color: red ; cursor: pointer;" title="Eliminar" (click)="eliminar(item.id_usuario)"></span>
                                        </td>
                                    </tr>
                                </table>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    
    </div>
</section>
