<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0">Tipo de usuario</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#" style="font-style:oblique;font-weight: bold; font-size: small;">Home</a></li>
            <li class="breadcrumb-item active" style="font-style:oblique;font-weight: bold; font-size: small;">Tipo de usuario</li>
            </ol>
        </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
    <!-- /.content-header -->
<section class="content">
    <div class="container-fluid">
<!-- contenido -->
        <hr>
        <input type="button" style="font-style: oblique;font-weight: bold; font-size: small;" value="Insertar Tipo De Usuario." class="btn btn-warning" (click)="mostrar_form('ver')">
        <hr>
<!-- Formulario -->
        <div id="formulario" *ngIf="mform==true">
            <div class="row">
                <div class="col-lg-4">
                    <input type="text" class="form-control" placeholder="Tipo Usuario" [(ngModel)]="obj_t_usuario.tipo_usuario">
                    <span style="color: red;" *ngIf="validar_t_usuario == false">Insertar Tipo Usuario</span>
                </div>
                <div class="col-lg-4">
<!-- Botones Formulario -->
    <!-- Guardar --->
                    <input type="button" value="Guardar" class="btn btn-primary" style="width: 100%;" (click)="validar('guardar')" *ngIf="botones_form == false">
    <!-- Editar ---->
                    <input type="button" value="Editar" class="btn btn-primary" style="width: 100%;" (click)="validar('editar')" *ngIf="botones_form == true">
                </div>
                <div class="col-lg-4">
    <!-- Cancelar -->
                    <input type="button" value="Cancelar" class="btn btn-secondary" style="width: 100%;" (click)="mostrar_form('no ver')">
                </div>
            </div>
        </div>
        <hr>
<!-- Tabla -->
        <div id="tabla">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>T.Usuario</th>
                                <th>Acciones</th>
                            </tr>
                            <tr *ngFor="let item of t_usuario">
                                <td>{{item.tipo_usuario}}</td>
                                <td>
<!-- Botones Tabla  ------------------->
    <!-- Editar -------------------->
                                    <span class="fas fa-edit" style="color: blue ; cursor: pointer;" title="Editar" (click)="cargar_datos(item, item.id_tipo_usuario)"></span>
    <!-- Eliminar ------------------>
                                    <span class="fas fa-minus-square" style="color: red ; cursor: pointer;" title="Eliminar" (click)="eliminar(item.id_tipo_usuario)"></span>
                                </td> 
                            </tr>
                        </table>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
